  
  
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col'>
      
      <% @datas.each do |data| %>
        <table>
        <% if @datas.model == User %>
            <td><%= attachment_image_tag(data, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
              <%= data.name %>
              <%= data.introduction %>
            <% else %>
              <%= attachment_image_tag(data.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
              <%= data.title %>
              <%= data.body %></td>
            </table>
          <% end %>
        <% end %>
      </table>
     </div>
   </div>
 </div>